<!--TODO: Search for full custom data-table-->
<!--
<div class="container">
  <app-data-table>
    <ng-container data-table-head>
      <tr>
        <th>WorkStation</th>
        <th>Customer Code</th>
        <th>Product Stock Code</th>
        <th>Material Name</th>
        <th>Unit</th>
      </tr>
      &lt;!&ndash;<span>
      <th>Product Stock Code</th>
      <th>Material Name</th>
      <th>Unit</th>
      </span>&ndash;&gt;
    </ng-container>

    <ng-container data-table-body>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
    </ng-container>
  </app-data-table>

</div>
-->

<div class="container">
  <p-table [columns]="columns_1" responsiveLayout="scroll" [loading]="showLoader" [autoLayout]="true" class="no-appearance" [value]="(wareHouses$ | async) ?? []">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="bg-blue" *ngFor="let col of columns">
          {{ col.displayName }}
          <button class="filter-menu-button" (click)="op.toggle($event)"><i class="pi pi-caret-down"></i></button>

          <p-overlayPanel #op>
            <ng-template pTemplate>
<!--              <input [ngModel]="col.filter" type="text" [size]="10" placeholder="Filter">-->
             <div class="filter-container">
               <p-columnFilter placeholder="Filter" [showMenu]="false" type="text" [field]="col.name"></p-columnFilter>
               <button pButton class="p-button-rounded p-button-sm " [pSortableColumn]="col.name"><p-sortIcon class="small" [field]="col.name"></p-sortIcon></button>
             </div>
            </ng-template>
          </p-overlayPanel>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">{{ data[col.name]}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns_1.length">
          No records found
        </td>
      </tr>
    </ng-template><ng-template pTemplate="loadingbody">
    <tr style="height:34px">
      <td *ngFor="let col of columns_1">
        <div class="loading-text">Loading...</div>
      </td>
    </tr>
  </ng-template>
  </p-table>
  <p-table [columns]="columns_2" responsiveLayout="scroll" [autoLayout]="true" [loading]="showLoader" class="no-appearance" [value]="(tools$ | async) ?? []">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="bg-cyan" *ngFor="let col of columns">
          {{ col.displayName }}
          <button class="filter-menu-button" (click)="op.toggle($event)"><i class="pi pi-caret-down"></i></button>
          <p-overlayPanel #op>
            <ng-template pTemplate>
              <div class="filter-container">
                <p-columnFilter placeholder="Filter" [showMenu]="false" type="text" [field]="col.name"></p-columnFilter>
                <button pButton class="p-button-rounded p-button-sm " [pSortableColumn]="col.name"><p-sortIcon class="small" [field]="col.name"></p-sortIcon></button>
              </div>
            </ng-template>
          </p-overlayPanel>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
      <tr>
        <td class="text-center" [class.bg-cyan]="col.name === columns_2[0].name" style="width: 50px" *ngFor="let col of columns">{{ data[col.name]}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns_2.length">
          No records found
        </td>
      </tr>
    </ng-template><ng-template pTemplate="loadingbody">
    <tr style="height:34px">
      <td *ngFor="let col of columns_2">
        <div class="loading-text">Loading...</div>
      </td>
    </tr>
  </ng-template>
  </p-table>
  <p-table [columns]="columns_3" responsiveLayout="scroll" [autoLayout]="true" [loading]="showLoader" class="no-appearance" [value]="(productQuantity$ | async) ?? []">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [class.bg-pink]="i === 0" [class.bg-light-pink]="i === 1" *ngFor="let col of columns; let i = index">
          {{ col.displayName }}
          <button class="filter-menu-button" (click)="op.toggle($event)"><i class="pi pi-caret-down"></i></button>
          <p-overlayPanel #op>
            <ng-template pTemplate>
              <div class="filter-container">
                <p-columnFilter placeholder="Filter" [showMenu]="false" type="text" [field]="col.name"></p-columnFilter>
                <button pButton class="p-button-rounded p-button-sm " [pSortableColumn]="col.name"><p-sortIcon class="small" [field]="col.name"></p-sortIcon></button>
              </div>
            </ng-template>
          </p-overlayPanel>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
      <tr>
        <td class="text-center" [class.bg-pink]="i === 0" [class.bg-light-pink]="i === 1" style="width: 50px;" *ngFor="let col of columns; let i = index">{{ data[col.name]}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns_3.length">
          No records found
        </td>
      </tr>
    </ng-template><ng-template pTemplate="loadingbody">
    <tr style="height:34px">
      <td *ngFor="let col of columns_3">
        <div class="loading-text">Loading...</div>
      </td>
    </tr>
  </ng-template>
  </p-table>
</div>
