
<!--TODO: Search for full custom data-table-->
<!--
<div class="container">
  <app-data-table>
    <ng-container data-table-head>
      <tr>
        <th>WorkStation</th>
        <th>Customer Code</th>
        <th>Product Stock Code</th>
        <th>Material Name</th>
        <th>Unit</th>
      </tr>
      &lt;!&ndash;<span>
      <th>Product Stock Code</th>
      <th>Material Name</th>
      <th>Unit</th>
      </span>&ndash;&gt;
    </ng-container>

    <ng-container data-table-body>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
      <tr>
        <td>V363 - Hurce 1</td>
        <td>UUIOH3ui4hiuUIB2I</td>
        <td>23523235235</td>
        <td>This is a product Name with the a long text material</td>
        <td>Adet</td>
      </tr>
    </ng-container>
  </app-data-table>

</div>
-->

<div class="container">
  <p-table [loading]="showLoader" [autoLayout]="true" class="no-appearance" [value]="(data$ | async) ?? []">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns">
          {{ col.displayName }}
          <button class="filter-menu-button" (click)="op.toggle($event)"><i class="pi pi-caret-down"></i></button>

          <p-overlayPanel #op>
            <ng-template pTemplate>
              <input type="text" class="p-inputtext-sm" [size]="10" placeholder="Filter">
              <button [pSortableColumn]="col.name"><p-sortIcon class="small" [field]="col.name"></p-sortIcon></button>
            </ng-template>
          </p-overlayPanel>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.WorkStation }}</td>
        <td>{{ data.CustomerCode }}</td>
        <td>{{ data.ProductStockCode }}</td>
        <td>{{ data.MaterialName }}</td>
        <td>{{ data.Unit }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length">
          No records found
        </td>
      </tr>
    </ng-template><ng-template pTemplate="loadingbody">
    <tr style="height:34px">
      <td *ngFor="let col of columns">
        <div class="loading-text">Loading...</div>
      </td>
    </tr>
  </ng-template>
  </p-table>
</div>
